body {
  margin: 0;
  background-image: url('C:\Users\Manoj\Dropbox\My PC (LAPTOP-DT2730KE)\Desktop\git1\CareerCall\CareerCall\CareerCall\Frontend\frontend\assets\Job51.jpg');
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
}

